@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

@import "tailwindcss";
html{
scroll-behavior:smooth;
}

body{

font-family:'Inter',sans-serif;

background:#FAF8F2;

color:#1F2937;

overflow-x:hidden;

}

h1,h2,h3,h4{

font-family:'Playfair Display',serif;

}

::selection{

background:#0B6E4F;

color:white;

}
.perspective-1500{
perspective:1500px;
}

.transform-style-preserve-3d{
transform-style:preserve-3d;
}

.backface-hidden{
backface-visibility:hidden;
-webkit-backface-visibility:hidden;
}

.rotate-y-180{
transform:rotateY(180deg);
}
.flip-card{

position:relative;

transform-style:preserve-3d;

transition:transform .8s ease;

}
@keyframes fadeIn {

0%{
opacity:0;
transform:translateY(20px);
}

100%{
opacity:1;
transform:translateY(0);
}

}

.animate-fadeIn{
animation:fadeIn 1.2s ease;
}

@keyframes fadeUp{

0%{
opacity:0;
transform:translateY(15px);
}

100%{
opacity:1;
transform:translateY(0);
}

}

.animate-fadeUp{
animation:fadeUp 1.5s ease;
}
html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

button,
a,
img,
svg,
input,
.card {
  transition: all 0.3s ease;
}
@keyframes float {

0%{
transform:translateY(0px) scale(.75);
}

50%{
transform:translateY(-12px) scale(.75);
}

100%{
transform:translateY(0px) scale(.75);
}

}